:root {
  /* Світла тема */
  --bg-color: #fff;
  --text-color: #333;
  --border-color: #333;
  --invert: 0%;
  --accent: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

:root.dark {
  --bg-color: #333;
  --text-color: #fff;
  --border-color: #fff;
  --invert: 100%;
  --accent: linear-gradient(to top, #202730 0%, #858586 100%);
}

/* Обнулити відступи і маркери */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

html, body {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  overflow-x: hidden;
}

footer {
  height: 100px;
  background: #333;
  padding: 20px 50px;
}

#editor-panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  padding: 15px;
  overflow-y: auto;
  border-right: 2px solid #444;
}

#editor-panel input {
  width: 100%;
  margin-bottom: 10px;
}

#editor-panel button {
  width: 100%;
  margin-bottom: 10px;
}


#dnstools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  width: 500px;
  max-width: 85%;
  text-align: center;
}

#dnstools strong {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--text-color);
}

/* рядок з полем і кнопкою */
.input-row {
  display: flex;
  width: 100%;
}

/* поле вводу */
#domain_input {
  flex: 1;
  padding: 10px;
  height: 46px;
  color: var(--text-color);
  border-radius: 5px 0 0 5px;
  border: 3px solid var(--border-color);
  border-right: none;
  background-color: var(--bg-color);
}

/* кнопка */
#btnDIG {
  padding: 0 20px;
  height: 46px;
  border: 3px solid var(--border-color);
  border-radius: 0 5px 5px 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* результат під полем і кнопкою */
#output {
  margin-top: 15px;
  width: 100%;
  text-align: left;
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  color: var(--text-color);
  word-wrap: break-word;
}
.external-links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 8px;
  font-weight: bold;
}

.external-links a:hover {
  text-decoration: underline;
}

.copy-btn {
  cursor: pointer;
  margin-right: 4px;
  font-size: 18px;
  user-select: none;
  transition: 0.2s;
}

/* Кнопка темної теми */
#theme-toggle, #sound-toggle {
  max-width: 46px;
  max-height: 46px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 12px;
  margin-right: 5px;
  border: 3px solid var(--border-color);
  border-radius: 100px;
  cursor: pointer;
  filter: opacity(50%);
}

#theme-toggle .icon, #sound-toggle .icon {
  max-width: 26px;
  max-height: 26px;
  margin: -3px -4px;
  filter: invert(var(--invert));
}

#theme-toggle:hover, #sound-toggle:hover {
  filter: opacity(100%);
}

/* Пошуковик */
#search {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}

#searchInput {
  padding: 10px;
  width: 500px;
  color: var(--text-color);
  border-radius: 5px 0 0 5px;
  border: 3px solid var(--border-color);
  background-color: var(--bg-color);
}

#searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 46px;
  border: 3px solid var(--border-color);
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--bg-color);
  cursor: pointer;
}

#searchBtn .icon {
  width: 25px;
  height: 25px;
  filter: invert(var(--invert));
}


#shortcuts * {
  list-style: none;
}

/* Контейнер категорій */
#shortcuts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* Окремі категорії */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Заголовок категорії */
.category strong, strong{
  font-size: 1.5em;
  color: var(--text-color);
  margin-top: 10px;
}

/* Список кнопок */
.category ul {
  display: flex;
  justify-content: center;
  margin: 20px 10px 10px 0;
  gap: 10px;
  flex-flow: row wrap;
  max-width: 60%;
}

/* Кнопки */
.category ul li a {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

/* Іконки ліворуч від тексту */
.category ul li a .icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

/* GitHub окремо*/
.category ul li a.github {
  background-color: #333;
  color: #fff;
}

.category ul li a.github:hover {
  background-color: #555;
}

.category ul li a:hover {
  background-color: #d0e1ff;
}

/* Водичка */
.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: var(--accent);
  overflow: hidden;
  z-index: -1;
}
.wave {
  width: 2500px;
  height: 2400px;
  position: absolute;
  left: 50%;
  margin-top: -2000px;
  margin-left: -1000px;
  border-radius: 35%;
  background: var(--bg-color);
  animation: wave 15s infinite linear;
}
@keyframes wave {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}



/* ======================= */
/*  Адаптація під телефони */
/* ======================= */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  #search {
    flex-direction: row;
    align-items: center;
    margin: 5%;
  }

  #searchInput, #searchBtn {
    border-radius: 5px;
  }

  #searchBtn {
    margin: 3%;
  }

  .category ul li a {
    width: 90%;
    justify-content: center;
    text-align: center;
  }

  .category ul {
    max-width: 85%;
  }

  .wave {
    width: 200%;
    height: 120%;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -500px;
    margin-top: -600px;
    border-radius: 35%;
    background: var(--bg-color);
    animation: wave 15s infinite linear;
  }

  #sound-toggle {
    display: none;
  }
}
html, body {
  height: 100%;
}
