:root {
  /* Світла тема */
  --bg-color: #fff;
  --text-color: #333;
  --border-color: #333;
  --invert: 0%;
  --accent: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

:root.dark {
  --bg-color: #333;
  --text-color: #fff;
  --border-color: #fff;
  --invert: 100%;
  --accent: linear-gradient(to top, #202730 0%, #858586 100%);
}

/* Обнулити відступи і маркери */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

html, body {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg-color);
  color: #333;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  overflow-x: hidden;
}

footer {
  height: 100px;
  background: #333;
  padding: 20px 50px;
}

/* Кнопка темної теми */
#theme-toggle {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 12px;
  border: 3px solid var(--border-color);
  border-radius: 100px;
  cursor: pointer;
}

/* Пошуковик */
#search {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}

#searchInput {
  padding: 10px;
  width: 500px;
  color: var(--text-color);
  border-radius: 5px 0 0 5px;
  border: 3px solid var(--border-color);
  background-color: var(--bg-color);
}

#searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 46px;
  border: 3px solid var(--border-color);
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--bg-color);
  cursor: pointer;
}

#searchBtn .icon {
  width: 25px;
  height: 25px;
  filter: invert(var(--invert));
}


#shortcuts * {
  list-style: none;
}

/* Контейнер категорій */
#shortcuts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* Окремі категорії */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Заголовок категорії */
.category strong {
  font-size: 1.5em;
  color: var(--text-color)
}

/* Список кнопок */
.category ul {
  display: flex;
  justify-content: center;
  margin: 20px 10px 10px 0;
  gap: 10px;
  flex-flow: row wrap;
}

/* Кнопки */
.category ul li a {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

/* Іконки ліворуч від тексту */
.category ul li a .icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

/* GitHub окремо */
.category ul li a.github {
  background-color: #333; /* темний фон */
  color: #fff;            /* білий текст */
}

.category ul li a.github:hover {
  background-color: #555; /* трохи світліше при ховері */
}

.category ul li a:hover {
  background-color: #d0e1ff;
}

/* Водичка */
.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: var(--accent);
  overflow: hidden;
  z-index: -1;
}
.wave {
  width: 1500px;
  height: 1400px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: var(--bg-color);
  animation: wave 15s infinite linear;
}
@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}



/* ======================= */
/*  Адаптація під телефони */
/* ======================= */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  #search {
    flex-direction: row;
    align-items: center;
    margin: 5%;
  }

  #searchInput, #searchBtn {
    border-radius: 5px;
  }

  #searchBtn {
    margin: 3%;
  }

  .category ul li a {
    width: 90%;
    justify-content: center;
    text-align: center;
  }

  .wave {
    width: 120%;
    height: 100%;
    position: fixed;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: var(--bg-color);
    animation: wave 15s infinite linear;
  }
}
html, body {
  overflow: hidden;
  height: 100%;
}
